//feedback.scss

#bugherd-feedback {
	background-color: #FF9933;
	position: fixed;
	padding: $baseline $baseline*2;
	cursor: pointer;
	color: $thunder;
	bottom: 0;
	right: 0;

	@include breakpoint (md) {
		margin: 0 $col;
	}
}