//SEARCH

.search {

    @include breakpoint(sm) {
        background-color: $abbey;
    }

    @include breakpoint(md) {
        //border-top: 1px solid $thunder;
        //margin-top: -1px;	//compensate for border-top
        background-color: $ship-grey;
        font-size: 17px;
        height: 80px;
        // height: 97px;
    }

    //@include breakpoint(lg) {
    //    height: 81px;
    //}

    &--results-page {
        height: ($baseline * 24);

        h1 {
            color: $iron-light;
            margin: ($baseline * 2) 0 $baseline 0;
        }

        @if $old-ie == false {
            @include breakpoint(sm) {
                height: auto;
                h1 {
                    font-size: 21px;
                    line-height: ($baseline * 4);
                }
            }
        }
    }

    &__form {
        font-family: $base-font-family;
        font-weight: $base-font-weight;
        line-height: $base-line-height;
        color: $iron-light;
        padding: ($baseline * 2) 0 ($baseline * 2) ($baseline * 2);

        @if $old-ie == false {
            @include breakpoint(sm) {
                padding: ($baseline * 3) 0;
            }
        }
    }

    &__label {
        font-family: $base-font-family;
        font-weight: $base-font-weight;
        line-height: $base-line-height;
        font-size: 17px;
        color: $iron-light;
        padding: 12px $col 12px $col;
        background-color: $abbey;

        @if $old-ie == false {
            @include breakpoint(sm) {
                display: none;
            }
        }
    }

    &__input {
        font-family: $base-font-family;
        font-weight: $base-font-weight;
        line-height: $base-line-height;
        //font-style: italic;
        font-size: 17px;
        color: $ship-grey;
        border: none;
        padding: 6px $col 4px $col;
        height: ($baseline * 6);
        background: lighten($primary, 65%);
        //-webkit-appearance: none; //fix for safari not displaying input with correct height
        -webkit-appearance: textfield; // Fix for safari hiding 'x' behind padding

        @if $old-ie == false {
            @include breakpoint(sm) {
                width: 80%;
                font-size: 14px;
                padding: 12px $col/2 8px $col/2;

            }
        }

        &--results-page {
            height: ($baseline * 5);
        }
    }

    &__button {
        font-family: $base-font-family;
        font-weight: $base-font-weight;
        line-height: $base-line-height;
        font-size: 17px;
        color: $white;
        border: none;
        padding: 0;
        //padding: 4px ($col / 2) 1px ($col / 2);
        background-color: $primary;
        height: ($baseline * 6);

        &:hover,
        &:focus {
            background-color: darken($primary, 8%);
        }

        @if $old-ie == false {
            @include breakpoint(sm) {
                width: 20%;
                font-size: 14px;
                padding-left: $col/2;
                padding-right: $col/2;
            }
        }

        &--results-page {
            height: ($baseline * 5);
            padding-top: ($baseline / 2);
        }
    }
}